<!-- BLOG_POST_SNIPPET.HTML -->
<style type="text/css">
	
    .card {
		max-width: 700px;
        background: rgba(240, 199, 200);
	}

	.card2 {
        background: rgba(240, 199, 200);
		width: 16rem;
		border: 1px solid rgba(0, 0, 0, .100);
	}
	@media (max-width: 1100px) {
		.card2{
			width: 16rem !important;
		}
	}
	
	.condimente-btn {
		max-width: 700px;
        background: rgba(240, 199, 200);
		border-color: transparent;
		font-family: 'Eufoniem', sans-serif;
	}

	
	.card-body {
		padding: 20px;
        width: 100%;
		font-family: 'Eufoniem', sans-serif;
	}
	
	

</style>

{% if blog_post %}
<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<a href="{% url 'blog:detail' post.slug %}">
				<img class="card-img-top" src="{{blog_post.image.url}}">
			</a>
			
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'blog:detail' post.slug %}">
					<h2 class="card-title">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body|safe|truncatechars:150}}</p>
				{% if blog_post.author == request.user %}
					<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Edit</a>
					<a href="{% url 'blog:delete' blog_post.slug %}" class="btn btn-danger">Delete</a>
				{% endif %}
			</div>
			<div class="card-footer text-muted">
			  Updated on {{blog_post.date_updated}} 
			  Posted on {{blog_post.date_published}} <br>
			  by {{blog_post.author}}
			</div>
		</div>
	</div>
</div>
{% else %}

<div class="container">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body mt-2 mb-2">
                <h2 class="card-title">
                    No results
                </h2>
              <p class="card-text">There were no results matching your search: "{{query}}".</p>  
            </div>
        </div>
    </div>
</div>

{% endif %}