<!-- BASE_CSS.HTML -->
<style type="text/css">
    
    body {
        /* background-image: linear-gradient(to bottom, #2192FF, #38E54D, #9CFF2E, pink); */
        Background-color: rgba(240,199, 200, 0.958);
        /* font-family: 'Cassandra Personal Use', sans-serif !important; */
        font-family: 'Self Deception', sans-serif;
        font-size: xx-large;
    }
    .row {
    --bs-gutter-x: -0.5rem;
}
    
    .ana {
        text-align: center;
        font-size: 2rem;
        font-family: 'Eufoniem', sans-serif;
    }
    .card-title {
        font-size: 2.5rem !important;
    } 

    .card-body {
        text-align: center;
    }

    .form-control {
        font-size: 25px !important;
    }
    
    .btn {
        font-size: 22px !important;
        min-width: 15ch !important;
        max-height: 10vh !important;
        text-align: center !important;
    }
    .pagination{
        background: transparent;
    }
    a{
		text-decoration: none !important;
	}
    a:hover{
        color: rgba(7, 216, 223, 0.582) !important;
    }

</style>