<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">
    <title> </title>

    {% if request.user.is_authenticated %}
        <p><a href="{% url 'home' %}">Home</a> |  <a href="{% url 'logout' %}">Log out</a></p>
        <p>Hello, {{request.user.username}}</p>
    {% else %}
        <p>
            <a href="{% url 'home' %}">Home</a> | 
            <a href="{% url 'register' %}">Register</a> | 
            <a href="{% url 'login' %}">Login</a> 
        </p>
    {% endif %}
    <hr>

</head>
<body>
    <h5>base.html <br> Aici este Body</h5>

    {% block content %}
    
    {% endblock content %}

</body>
<footer>
    <hr>
    <h2></h2>
    <h5>base.html <br> Aici este Footer | 🥰 2022</h5>
</footer>
</html>

