<!DOCTYPE html>
<html lang="en">   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base </title>

    {% include 'snippets/header.html' %}
    {% include 'snippets/base_css.html' %}

</head>

<body>
    <h2>base.html <br> Aici este Body</h5>
        <!-- body -->
        <style type="text/css">
            .main{
                min-height: 100vh;
                height: 100%;
            }

        </style>
    <div class="main">
        {% block content %}
        
        {% endblock content %}
    </div>
        <!-- endbody -->
        
    {% include 'snippets/footer.html' %}
</body>

</html>

